<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Angular ClientPanel project</a>

        <ul class="navbar-nav">
            <li *ngIf="isLoggedIn" class="nav-item">
                <a class="nav-link" href="#" routerLink="/">Dashboard</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li *ngIf="!isLoggedIn && showRegister" class="nav-item">
                <a class="nav-link" href="#" routerLink="/register">Register</a>
            </li>
            <li *ngIf="!isLoggedIn && showRegister" class="nav-item">
                <a class="nav-link" href="#" routerLink="/login">Login</a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item">
                <a class="nav-link" href="#">{{loggedInUser}}</a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item">
                <a class="nav-link" href="#" routerLink="/settings">Settings</a>
            </li>
            <li *ngIf="isLoggedIn" class="nav-item">
                <a class="nav-link" href="#" (click)="onLogoutClick()">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<br><br>